[project]
	description = Easy-to-use crypto toolkit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dmitriy Groschovskiy (groschovskiy)
[access "refs/for/refs/*"]
	read = group user/Dmitriy Groschovskiy (groschovskiy)
	push = group user/Dmitriy Groschovskiy (groschovskiy)
	label-Code-Review = -2..+2 group user/Dmitriy Groschovskiy (groschovskiy)
	label-Verified = -1..+1 group user/Dmitriy Groschovskiy (groschovskiy)
	rebase = group user/Dmitriy Groschovskiy (groschovskiy)
	removeReviewer = group user/Dmitriy Groschovskiy (groschovskiy)
	submit = group user/Dmitriy Groschovskiy (groschovskiy)
[access "refs/heads/*"]
	read = group user/Dmitriy Groschovskiy (groschovskiy)
	create = group user/Dmitriy Groschovskiy (groschovskiy)
	push = +force group user/Dmitriy Groschovskiy (groschovskiy)
	pushMerge = group user/Dmitriy Groschovskiy (groschovskiy)
[access "refs/tags/*"]
	push = group user/Dmitriy Groschovskiy (groschovskiy)
	push = +force group user/Dmitriy Groschovskiy (groschovskiy)
